<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asuransi</title>
</head>
<body>
    <header>
        <span>Asuransi</span>
        <img>
        <span><a>Kembali</a></span>
    </header>
    <main>
        <div class="dataLayanan">
            <h3>Kotas Asal</h3>
            <div class="kotaCont">
                <select class="opsiKota">
                    <option value="opsi1">Kota 1</option>
                    <option value="opsi2">Kota 2</option>
                    <option value="opsi3">Kota 3</option>
                </select>
            </div>

            <h3>Pilih Wilayah</h3>
            <select class="opsiWil">
                <option value="opsi1">Wilayah 1</option>
                <option value="opsi2">Wilayah 2</option>
                <option value="opsi3">Wilayah 3</option>
            </select>

            <h3>Pilih Tujuan</h3>
            <select class="opsiTuj">
                <option value="opsi1">Tujuan 1</option>
                <option value="opsi2">Tujuan 2</option>
                <option value="opsi3">Tujuan 3</option>
            </select>
        </div>

        <div class="dataUmur">
            <h3>Dewasa</h3>
            <form class="dewasaCont">
                <input type="text" id="dewasaInput" placeholder="Input jumlah anggota!">
                <button id="submitButton">Submit</button>
            </form>

            <h3>Anak - anak</h3>
            <form class="anakCont">
                <input type="text" id="anakInput" placeholder="Input jumlah anggota!">
                <button id="submitButton">Submit</button>
            </form>

            <h3>Senior</h3>
            <form class="seniorCont">
                <input type="text" id="seniorInput" placeholder="Input jumlah anggota!">
                <button id="submitButton">Submit</button>
            </form>
        </div>

        <div class="dataPerlindungan">
            <h3>Pilih Jenis Perlindungan</h3>
            <div class="perlindunganCont">
                <select class="opsiPerlindungan">
                    <option value="opsi1"> 1</option>
                    <option value="opsi2"> 2</option>
                    <option value="opsi3"> 3</option>
                </select>
            </div>

            <h3>Start Date</h3>
            <form class="startDate">
                <input type="date" id="startInput" placeholder="Input tanggal!">
                <button id="submitButton">Submit</button>
            </form>

            <h3>End Date</h3>
            <form class="endDate">
                <input type="date" id="endInput" placeholder="Input tanggal!">
                <button id="submitButton">Submit</button>
            </form>

            <h3>Party/Family</h3>
            <form class="partyCont">
                <input type="text" id="famInput" placeholder="Input jumlah anggota!">
                <button id="submitButton">Submit</button>
            </form>
        </div>
    </main>
    <footer>
        <div class="desc">
            <img>
            <p></p>
        </div>
        <div class="menu">

        </div>
        <div class="sosmed">
            
        </div>
    </footer>
</body>
</html>