<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paket</title>
</head>
<body>
    <header>
        <span>Paket</span>
        <img>
        <span><a>Kembali</a></span>
    </header>
    <main>
        <div class="dataPaket">
            <h3>Pilih Paket</h3>
            <div class="paketCont">
                <select class="opsiPaket">
                    <option value="opsi1"> 1</option>
                    <option value="opsi2"> 2</option>
                    <option value="opsi3"> 3</option>
                </select>

            <h3>Pilih Destinasi</h3>
            <div class="destCont">
                <select class="opsiDest">
                    <option value="opsi1"> 1</option>
                    <option value="opsi2"> 2</option>
                    <option value="opsi3"> 3</option>
                </select>
            </div>
        </div>

        <div class="dataTanggal">
            <h3>Periode Tanggal</h3>
            <form class="tglCont">
                <input type="text" id="tglInput" placeholder="Input jumlah anggota!">
                <button id="submitButton">Submit</button>
            </form>

            <h3>Periode Bulan</h3>
            <form class="blnCont">
                <input type="text" id="blnInput" placeholder="Input jumlah anggota!">
                <button id="submitButton">Submit</button>
            </form>

            <h3>Periode Tahun</h3>
            <form class="thnCont">
                <input type="text" id="thnInput" placeholder="Input jumlah anggota!">
                <button id="submitButton">Submit</button>
            </form>
        </div>

        <div class="paket">
            <h3>Trending Package</h3>
            <div class="trendCont">
                <div class="trendWrapper">
                    <button id="trendPrev"><</button>
                    <div class="trendCaro">
                        <div>
                            <span><img></span>
                            <span><img></span>
                            <span><img></span>   
                        </div>
                    </div>
                    <button id="trendNext">></button>
                </div> 
            </div>
        </div>
    </main>
    <footer>
        <div class="desc">
            <img>
            <p></p>
        </div>
        <div class="menu">

        </div>
        <div class="sosmed">

        </div>
    </footer>
</body>
</html>