<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour</title>
</head>
<body>
    <header>
        <nav>
            <span>Tour</span>
            <img>
            <span><a>Kembali</a></span>
        </nav>
    </header>
    <main>
        <div id="search">
            <input type="text" id="searchInput" placeholder="Carilah Tour!">
            <button id="searchButton">Search</button>
        </div>
        <div class="destinasi">
            <h3>Pilih destinasi</h3>
            <div class="destCont">
                <div class="destWrapper">
                    <button id="destPrev"><</button>
                    <div class="destCaro">
                        <div>
                            <span><img></span>
                            <span><img></span>
                            <span><img></span>   
                        </div>
                    </div>
                    <button id="destNext">></button>
                </div> 
            </div>
        </div>
        <div class="tour">
            <h3>Tour Tersedia</h3>
            <div class="tourCont">
                <div class="tourWrapper">
                    <button id="tourPrev"><</button>
                    <div class="tourCaro">
                        <div>
                            <span><img></span>
                            <span><img></span>
                            <span><img></span>   
                        </div>
                    </div>
                    <button id="tourNext">></button>
                </div> 
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>